<% if (!comment.owner || !comment.admin || !comment.repo || !comment.client_id ||
		!comment.client_secret) { %>
<div class="notification is-danger">
    You forgot to set the <code>owner</code>, <code>admin</code>, <code>repo</code>, <code>client_id</code>, or <code>client_secret</code> for Gittalk.
    Please set it in <code>_config.yml</code>.
</div>
<% } else { %>
<div id="comment-container"></div>
<%- _css(cdn('gitalk', '1.4.1', 'dist/gitalk.css')) %>
<%- _js(cdn('gitalk', '1.4.1', 'dist/gitalk.min.js')) %>
<script>
    var gitalk = new Gitalk({
        clientID: '<%= comment.client_id %>',
        clientSecret: '<%= comment.client_secret %>',
        id: '<%= md5(page.path) %>',
        repo: '<%= comment.repo %>',
        owner: '<%= comment.owner %>',
        admin: <%- JSON.stringify(comment.admin)%>
    })
    gitalk.render('comment-container')
</script>
<% } %>